/*
Add styles or override variables from the theme here.
*/

html.smooth-scroll {
  scroll-behavior: smooth;
}

// Theme colors
// $primary: #4279f4;
// $secondary: #fff;
// $dark: #213d7a;
// $info: #adb5bd;
// $light: #dee2e6;

.bg-primary-dark {
  background-color: #213d7a !important;
}

//override table cell margin
.td-content .highlight {
  margin: 0 0 !important;
}
